doctype html
html
	head
		title= title
		//- Materialize
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		//- CUSTOM.css
		link(rel='stylesheet', href='/css/style.css')
		//- JQuery
		script(src='https://code.jquery.com/jquery-3.0.0.min.js', integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=', crossorigin='anonymous')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")

		script(src='/js/home.js')

	body
		nav(id='navbar-landingpage')
			.nav-wrapper.z-depth-1
				a.brand-logo(href='/') 
					img(class='profile-img', src='images/mentorlogo.png')
				ul.right.hide-on-med-and-down
					li
						a.waves-effect.waves-light.btn(href='/logout') LOGOUT
					li
						a(href='/') About
				a.button-collapse(href='/', data-activates='side-menu')
					i.material-icons list
				ul#side-menu.side-nav
					li
						a.waves-effect.waves-light.btn(href='/logout') LOGOUT
					li
						a(href='/') About
		.intro.z-depth-2
			.container.about
				.row
					h1 Hi #{firstname}
					form.col.s12
						.card
							.card-content
								.row
									.input-field.col.m4.offset-m2.col.s8.offset-s2
										i.material-icons.prefix explore
										input#icon_prefix.validate(type='text')
										label(for='icon_prefix') Search a mentor
									.input-field.col.m4.col.s8.offset-s2
										button.waves-effect.waves-light.btn(type='submit') Search
					h5 LINKEDIN STATS
					.col.s12
						.card
							.card-content
								.row
									.col.m6.s12
										img(src=picture, width='250', height='250', border-radius='100px')
										p #{headline}
									.col.m6.s12
										ul
											li Jobtile: #{jobtitle}
											li Company: #{companyname}
											li Workfield: #{workfield}
											li Location: #{location}
											Li 
												a(href=profileurl) Profile URL
					h5 SUMMARY
					.col.s12
						.card
							.card-content
								p #{summary}
					h5 JOBS
					.col.s12
						.card
							.card-content
								ul.collapsible
									li.active
										.collapsible-header
											i.mdi-av-web Designer
										.collapsible-body
											p Lorem ipsum dolor sit amet.
									li
										.collapsible-header
											i.mdi-editor-format-align-justify Developer
										.collapsible-body
											p Lorem ipsum dolor sit amet.
									li
										.collapsible-header
											i.mdi-av-play-shopping-bag Editor
										.collapsible-body
											p Lorem ipsum dolor sit amet.
									li
										.collapsible-header
											i.mdi-editor-insert-comment Support
										.collapsible-body
											p Lorem ipsum dolor sit amet.
		.footer-copyright
			.container | © 2016 Copyright Text