doctype html
html
	head
		title= title
		//- Materialize
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		//- CUSTOM.css
		link(rel='stylesheet', href='/css/style.css')
		//- JQuery
		script(src='https://code.jquery.com/jquery-3.0.0.min.js', integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=', crossorigin='anonymous')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")

		script(src='/js/home.js')

	body
		nav(id='navbar-landingpage')
			.nav-wrapper.z-depth-1
				a.brand-logo(href='/') 
					img(class='profile-img', src='images/mentorlogo.png')
				ul.right.hide-on-med-and-down
					li
						a.dropdown-button(href='#!', data-activates='dropdown1')
							| Login
							i.material-icons.right arrow_drop_down
					li
						a(href='/') About
				a.button-collapse(href='/', data-activates='side-menu')
					i.material-icons list
				//- Dropdown Structure
				ul#dropdown1.dropdown-content
					li
						a(href='/auth/linkedin') Mentee 
					li.divider
					li
						a(href='/auth/linkedin2') Mentor 
				ul#side-menu.side-nav
					li
						a.waves-effect.waves-light.btn(href='/auth/linkedin') Mentee login
					li
						a.waves-effect.waves-light.btn(href='/auth/linkedin2') Mentor login
					li
						a(href='/') About
		.intro.z-depth-2
			.container.about
				.row
					h1 CHECK OUT #{storeuser[0].firstname} #{storeuser[0].lastname}'s PROFILE
					.col.s12
						h5 SUMMARY
						.card
							.card-content
								.row
									.col.s12
										p(class='summary') #{storeuser[0].summary}
					.col.s12
						h5 LINKEDIN STATS
						.card
							.card-content
								.row
									.col.m5.s12
										img(src=storeuser[0].picture, width='250', height='250', border-radius='100px')
										p #{storeuser[0].headline}
									.col.m7.s12
										.row
											.col.l3.z-depth-1.m12.z-depth-1 Jobtitle
											.col.l9.z-depth-1.m12.z-depth-1(id='class1', class='stats') #{storeuser[0].jobtitle}
											.col.l3.z-depth-1.m12.z-depth-1 Company
											.col.l9.z-depth-1.m12.z-depth-1(id='class2', class='stats') #{storeuser[0].companyname}
											.col.l3.z-depth-1.m12.z-depth-1 Workfield
											.col.l9.z-depth-1.m12.z-depth-1(id='class3', class='stats') #{storeuser[0].workfield}
											.col.l3.z-depth-1.m12.z-depth-1 Location
											.col.l9.z-depth-1.m12.z-depth-1(id='class4', class='stats') #{storeuser[0].location}
											.col.l3.z-depth-1.m12.z-depth-1 LinkedIn 
											.col.l9.z-depth-1.m12.z-depth-1(id='class5', class='stats')
												a(href=profileurl) #{storeuser[0].profileurl}
											.col.l4.m12.offset-l4(id='class6' style="display: none") #{storeuser[0].lnkid}
					.col.s12
						h5 JOBS
						ul.collapsible
							li.active
								.collapsible-header
									i.mdi-av-web.col.s12(class='job', id='jobtitle') #{storeuser[0].jobtitle}
								.collapsible-body
									p(class='job', id='jobsummary') #{storeuser[0].jobsummary}
		.footer-copyright
			.container | © 2016 Copyright Text